@import "tailwindcss";

:root {
  --foreground: #ededed;
  --color-01 : #f0f5ff;
  --color-02 : #5e5d72;
  --color-03 : #22c55e;
  --color-04 : #f0f0f0;
  --color-05 : #ff304f;
  --color-06 : #b4b4b4;
  --color-07 : #dee2e6;
  --color-08 : #48A3D7;
  --color-09 : #112143;
  --color-10 : #b4b4b4;
  --color-11 : #112143;
  --color-12 : #071739;
  --color-transh : #b4b4b46f;
  --color-bgHover: #253557;
  --font-inter: 'Inter', sans-serif;
}


@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-01: var(--color-01);
  --color-02: var(--color-02);
  --color-03: var(--color-03);
  --color-04: var(--color-04);
  --color-05: var(--color-05);
  --color-06: var(--color-06);
  --color-07: var(--color-07);
  --color-08: var(--color-08);
  --color-09: var(--color-09);
  --color-10: var(--color-10);
  --color-11: var(--color-11);
  --color-12: var(--color-12);
  --color-transh: var(--color-transh);
  --color-bgHover: var(--color-bgHover);
}
@custom-variant dark (&:where(.dark, .dark &));

body {
  background: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
body.dark{
  background-color: #071739;
}
.flash {
  background-color: white;
}

.dark .flash {
  background-color: #1e293b;
}


.slider::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  opacity: 0;
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.slider::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
  opacity: 0;
  
}

.slider:hover::-webkit-scrollbar {
  opacity: 1;
}

.slider:hover::-webkit-scrollbar-thumb {
  background: #00b341;    
  opacity: 1;
}

.count{
  padding-top: 100px;
  padding-left: 250px;
  border: 2px solid red;
}
.uncount{
  padding-top: 100px;
  padding-left: 10px;
  border: 2px solid red;
}

.wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.dash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mywrapper:hover .dash {
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: circle 5s linear infinite; 
}
.mywrapper:hover img{
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: pluge 4s linear infinite; 
}



@keyframes circle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pluge {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.3) rotate(30deg);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.3) rotate(-30deg);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.3) rotate(30deg);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}


.chart-entrance {
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.579);
  z-index: 999;
}
.pop .pop-content{
  border-radius: 8px;
  width: 450px;
  padding: 50px;
  margin-inline: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.active{
  background-color: rgb(0, 81, 255);
  color: white;
}










